*{
	box-sizing: border-box;
}
/******************************************body**************************************************************/
body{
	background: #000000;
	font-size: 30px;
}


.body_2{

	background-image:url(img/content/ROH.jpg);	
    z-index: -1;
    width: 100%;
    height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}
/*******************************************row*************************************************************/
.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.row { display: inline-block; }
*html .row { height: 1 ; }
.row { display: block; }


/*******************************************header*************************************************************/
.header {
	margin-bottom: 10px;
	color:#ffffff;
	font-size: 50px;
	text-align: center;
}
.inner-header {
	height: 85px;
	background: rgba(70, 70, 107, 0.5);
	height: 85px;
}


.title-inner-header{
	font-size: 50px;
}
nav {
	display: flex;
	height: 20px;
	width:255px;
	margin-left: auto;
    margin-right: auto;
}

li{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
li a {
	color:#bdbdbd;
	font-size: 16px;
	cursor:pointer;
	text-decoration: none;
	display: inline-block;
	transition: 0.5s all; 
li a:hover{
	color:#ffffff;
	border-bottom: solid 1px wheat;
	transition: 0.5s all;
}

/*******************************************content*************************************************************/
.content {	
	width: 50%;
	float: left;
}
.background-inner-content {
	color:#ffffff;
	background-image:url(img/content/ROH.jpg);
	background-repeat: no-repeat;	
	opacity: 0.3;
	position: relative;
	min-height: 450px;
	padding-left: 20px;
	padding-top: 10px;
	opacity: 0.3;
	transition:opacity;	
	transition: 2s all;
}
.text-inner-content {
	color:white;
	font-size: 16px;
	text-shadow: 2px 2px 2px black;
	opacity: 0;
	padding-right: 250px;
	padding-top: 50px;
	text-align: riht;
	margin-left:30px;
	flex: 1 1 150px;	
	transition: 2s all;		
}
.background-inner-content:hover { 
	box-shadow: 10px 20px 20px #46466b;
	opacity: 1;
	transition:opacity; 
	transform:scale(1.2);
	transition: 2s all; 
  .background-inner-content:hover .text-inner-content{
	opacity: 0.8;
	transition:opacity; 
	transform:scale(1.05);
	transition: 2s all; 
}
.www_cont{
	display: inline-block;
	color:white;
	opacity: 0;
	font-size: 20px;	
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;	
}
.www_cont:hover{
	opacity: 1;
	transform: scale(1.05);
	transition: 1s all; 
}


#www-inner-content{
	margin-top: 20px;		
}
#www-youtube-inner-content{
	height: 21px;
	width: 30px;
	border: 0px solid #141414;
	border-radius: 6px;	    
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 20px;
	color:rgb(242, 148, 148);
	font-size: 16px;	
	text-decoration: none; 
	transition: 1s all;	
}

.www_cont:hover{
	opacity: 1;
	transform: scale(1.05);
	transition: 1s all; 
}
.background-inner-content:hover .www_cont{
	opacity: 1;
	transition: 2s all; 
}
.youtube-inner-content {
	opacity: 0.2;
	margin-left:25px;
	position: absolute;
	transition: 2s all;		
	}
.youtube-inner-content:hover { 
	box-shadow: 1px 3px 30px #5f366b;
	transform:scale(1.4);
	transition: 2s all; 
	
}


/*******************************************sidebar-1*************************************************************/

.sidebar-1{
	width: 25%;
	float: left;
	padding-right: 10px;
}
.inner-sidebar-1 {
	background-image:url(img/background/6.jpg);
	min-height: 450px;
 	opacity: 0.5;	
	transition: 2s all;
}
.inner-sidebar-1:hover { 
	box-shadow: 10px 20px 20px #46466b;
	transition:opacity; 
	transform:scale(1.1);
	transition: 2s all; 
}
.sidebar-1:hover~.content div.inner-content div.background-inner-content{
	opacity: 0.8;
	transition:opacity; 
	transform:scale(1.03);
	transition: 2s all; 
}
.sidebar-1:hover~.content div.inner-content div.background-inner-content a.www_cont{
	opacity: 1;
	transition:opacity; 
	transform:scale(1.03);
	transition: 2s all; 
}
.sidebar-1:hover~.content div.inner-content div.background-inner-content div.text-inner-content{
	opacity: 1;
	transition:opacity; 
	transform:scale(1.03);
	transition: 2s all; 
}
.www {
	display: inline-block;
	color:white;
	opacity: 0.7;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;
	text-decoration: none; 
.www:hover{
	opacity: 1;
	transform: scale(1.1);
	transition: 1s all; 
	text-decoration: none; 
}

/*******************************************sidebar-2*************************************************************/
.sidebar-2 {
	width: 25%;
	float: left;
	padding-left: 10px;
	}
.inner-sidebar-2 {
	background-image:url(img/background/22.jpg);
	min-height: 450px;
 	opacity: 0.5;	
	transition: 2s all;
	}
.inner-sidebar-2:hover { 
	box-shadow: 10px 20px 20px #46466b;
	transition:opacity;
	transform:scale(1.1);
	transition: 2s all; 
}
.inner-sidebar-2-title {
	display: inline-block;
	color:white;
	opacity: 0.9;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;
	text-decoration:dotted;
}
.www_2 {
	display: inline-block;
	color:white;
	opacity: 0.7;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;
}
.www_2:hover{
	opacity: 1;
	transform: scale(1.1);
	transition: 1s all;
	text-decoration: none;
}



/*******************************************footer*************************************************************/

.footer {	
	margin-top:	10px;
	}	
.inner-footer {
	background:	#3d3c66;
	opacity: 0.3;
	height: 80px;
	}	




	













