*{
	box-sizing: border-box;
}
/******************************************body**************************************************************/
body{
	background: #000000;
	font-size: 30px;
}


.body_2{/* Картинка заднего плана */

	background-image:url(img/content/ROH.jpg);	
    z-index: -1;
    width: 100%;
    height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1; /*Прозрачность заднего плана */
}
/*******************************************row*************************************************************/
.row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
*html .row { height: 1 ; }
.row { display: block; }
/* close commented backslash hack */


/*******************************************header*************************************************************/
.header {
	margin-bottom: 10px;
	color:#ffffff;
	font-size: 50px;
	text-align: center;
}
.inner-header {
	height: 85px;
	background: rgba(70, 70, 107, 0.5);
	height: 85px;
}


.title-inner-header{
	font-size: 50px;
}
nav {
	display: flex;/* Делим контейнер на части в соответствии с количеством блоков находящихся в нем*/
	height: 20px;
	width:255px;
	margin-left: auto;/* Центрируем */
    margin-right: auto;/* Центрируем */			
}

li{
	display: inline-block;/*Распологаем блоки в линию*/	
	margin-left: auto;/* Центрируем */
	margin-right: auto;/* Центрируем */		
}
li a {
	color:#bdbdbd;
	font-size: 16px;
	cursor:pointer;
	text-decoration: none;/*Авто-подчекуивание ссылок*/	
	display: inline-block;
	/*list-style-type: none;  Убираем точки списка, но при  "display: inline-block;" не требуется*/
	transition: 0.5s all; /* Выполнить Все (all) анимации*/		
}
li a:hover{/*При наведении мыши*/
	color:#ffffff;
	border-bottom: solid 1px wheat;
	transition: 0.5s all; /* Выполнить Все (all) анимации*/	
}

/*******************************************content*************************************************************/
.content {	
	width: 50%;
	float: left;
}
.background-inner-content {
	color:#ffffff;
	background-image:url(img/content/ROH.jpg);
	background-repeat: no-repeat;	
	opacity: 0.3;/* Прозрачность заднего плана */
	position: relative;/* Разрешает накладывать другие элементы поверх себя */
	min-height: 450px;
	padding-left: 20px;
	padding-top: 10px;
	opacity: 0.3;
	transition:opacity;	
	transition: 2s all;
}
.text-inner-content {
	color:white;
	font-size: 16px;
	text-shadow: 2px 2px 2px black;
	opacity: 0;
	padding-right: 30px;
	padding-top: 50px;
	text-align: riht;
	margin-left:30px;
	flex: 1 1 150px;	
	transition: 2s all;		
}
.background-inner-content:hover { 
	box-shadow: 10px 20px 20px #46466b;/* Тень: сдвинута по оси X на 10 пиксиля, по оси Y на 20 пикселя, размыта на 3 пикселя и имеет черный цвет */
	opacity: 1;
	transition:opacity; /* Трансформация Прозрачности заднего плана */
	transform:scale(1.05);
	transition: 1s all; /* Выполнить Все (all) анимации*/
}
.background-inner-content:hover .text-inner-content{
	opacity: 0.8;
	transition:opacity; /* Трансформация Прозрачности заднего плана */
	transform:scale(1.05);
	transition: 2s all; /* Выполнить Все (all) анимации*/	
}
.www_cont{
	display: inline-block;
	color:white;
	opacity: 0;
	font-size: 20px;	
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;/* Вернуться обратно к исходному полжениию за 5 секундВыполнить*/	
}
.www_cont:hover{/*При наведении мыши*/
	opacity: 1;/* Прозрачность заднего плана при наведении мыши*/
	transform: scale(1.05);
	transition: 1s all; /* Выполнить Все (all) анимации*/	
}


#www-inner-content{
	margin-top: 20px;		
}
#www-youtube-inner-content{
	height: 21px;
	width: 30px;
	border: 0px solid #141414;
	border-radius: 6px;	    
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 20px;
	color:rgb(242, 148, 148);
	font-size: 16px;	
	text-decoration: none; /* Отменяем подчёркивание у ссылки */
	transition: 1s all;	
}

.www_cont:hover{/*При наведении мыши*/
	opacity: 1;/* Прозрачность заднего плана при наведении мыши*/
	transform: scale(1.05);
	transition: 1s all; /* Выполнить Все (all) анимации*/	
}
.background-inner-content:hover .www_cont{/*При наведении мыши*/
	opacity: 1;/* Прозрачность заднего плана при наведении мыши*/
	transition: 2s all; /* Выполнить Все (all) анимации*/	
}
.youtube-inner-content {
	opacity: 0.2;
	margin-left:25px;
	position: absolute;/* Разрешает нанному элементу рассполагаться поверх другого у которого установлено свойство: 'position: relative' */
	top: 130px;	
	transition: 2s all;		
	}
.youtube-inner-content:hover { 
	box-shadow: 1px 3px 30px #5f366b;/* Тень: сдвинута по оси X на 10 пиксиля, по оси Y на 20 пикселя, размыта на 3 пикселя и имеет черный цвет */
	transform:scale(1.4);
	transition: 2s all; /* Выполнить Все (all) анимации*/
	
}


/*******************************************sidebar-1*************************************************************/

.sidebar-1{
	width: 25%;
	float: left;
	padding-right: 10px;
}
.inner-sidebar-1 {
	background-image:url(img/background/6.jpg);
	min-height: 450px;
 	opacity: 0.5;	
	transition: 2s all;
}
.inner-sidebar-1:hover { 
	box-shadow: 10px 20px 20px #46466b;/* Тень: сдвинута по оси X на 10 пиксиля, по оси Y на 20 пикселя, размыта на 3 пикселя и имеет черный цвет */
	opacity: 1;
	transition:opacity; /* Трансформация Прозрачности заднего плана */
	transform:scale(1.1);
	transition: 2s all; /* Выполнить Все (all) анимации*/
}
.sidebar-1:hover~.content div.inner-content div.background-inner-content{
	opacity: 0.8;
	transition:opacity; /* Трансформация Прозрачности заднего плана */
	transform:scale(1.03);
	transition: 2s all; /* Выполнить Все (all) анимации*/	
}
.sidebar-1:hover~.content div.inner-content div.background-inner-content a.www_cont{
	opacity: 1;
	transition:opacity; /* Трансформация Прозрачности заднего плана */
	transform:scale(1.03);
	transition: 2s all; /* Выполнить Все (all) анимации*/	
}
.sidebar-1:hover~.content div.inner-content div.background-inner-content div.text-inner-content{
	opacity: 1;
	transition:opacity; /* Трансформация Прозрачности заднего плана */
	transform:scale(1.03);
	transition: 2s all; /* Выполнить Все (all) анимации*/	
}
.www {
	display: inline-block;
	color:white;
	opacity: 0.7;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;/* Вернуться обратно к исходному полжениию за 5 секундВыполнить*/
	text-decoration: none; /* Отменяем подчёркивание у ссылки */
}
.www:hover{/*При наведении мыши*/
	opacity: 1;/* Прозрачность заднего плана при наведении мыши*/
	transform: scale(1.1);
	transition: 1s all; /* Выполнить Все (all) анимации*/
	text-decoration: none; /* Отменяем подчёркивание у ссылки */
}

/*******************************************sidebar-2*************************************************************/
.sidebar-2 {
	width: 25%;
	float: left;
	padding-left: 10px;
	}
.inner-sidebar-2 {
	background-image:url(img/background/22.jpg);
	min-height: 450px;
 	opacity: 0.5;	
	transition: 2s all;
	}
.inner-sidebar-2:hover { 
	box-shadow: 10px 20px 20px #46466b;/* Тень: сдвинута по оси X на 10 пиксиля, по оси Y на 20 пикселя, размыта на 3 пикселя и имеет черный цвет */
	opacity: 1;
	transition:opacity; /* Трансформация Прозрачности заднего плана */
	transform:scale(1.1);
	transition: 2s all; /* Выполнить Все (all) анимации*/
}
.inner-sidebar-2-title {
	display: inline-block;
	color:white;
	opacity: 0.9;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;/* Вернуться обратно к исходному полжениию за 5 секундВыполнить*/
	text-decoration:dotted;
}
.www_2 {
	display: inline-block;
	color:white;
	opacity: 0.7;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 25px;
    width: 100%;
    height: 30px;
	transform: scale(1);
    transition: 1s all;/* Вернуться обратно к исходному полжениию за 5 секундВыполнить*/
	text-decoration: none;
}
.www_2:hover{/*При наведении мыши*/
	opacity: 1;/* Прозрачность заднего плана при наведении мыши*/
	transform: scale(1.1);
	transition: 1s all; /* Выполнить Все (all) анимации*/
	text-decoration: none;
}



/*******************************************footer*************************************************************/

.footer {	
	margin-top:	10px;
	}	
.inner-footer {
	background:	#3d3c66;
	opacity: 0.3;/* Прозрачность заднего плана */
	height: 80px;
	}	


/*******************************************    mobile    *************************************************************/

@media (max-width: 1000px) {
	

	.inner-header {
		height: 15%;/******************************************888888888888888888888************************************************************/
	}
	
	.title-inner-header{
		font-size: 100px;/******************************************888888888888888888888************************************************************/
	}
	nav {
		width:100%;/******************************************888888888888888888888************************************************************/
	}
	
	li a {
		font-size: 50px;/******************************************888888888888888888888************************************************************/
	}
	
	.content {	
		width: 100%;/******************************************888888888888888888888************************************************************/
		float: none;/******************************************888888888888888888888************************************************************/
	}
	.background-inner-content {
		height: 90%;/******************************************888888888888888888888************************************************************/
		background-size: cover;	/******************************************888888888888888888888************************************************************/
	}
	
	.text-inner-content {
		font-size: 45px;/******************************************888888888888888888888************************************************************/	
		text-shadow: 2px 2px 2px black;
		padding-left: 150px;/******************************************888888888888888888888************************************************************/
		padding-right: 50px;/******************************************888888888888888888888************************************************************/
	}
	
	.www_cont{
		font-size: 50px;/******************************************888888888888888888888************************************************************/	
		padding-left: 150px;/******************************************888888888888888888888************************************************************/
	}
	
	#www-youtube-inner-content{
		height: 50px;/******************************************888888888888888888888************************************************************/
		width: 100px;/******************************************888888888888888888888************************************************************/
	}
	
	.youtube-inner-content {
		margin-left:25%;/******************************************888888888888888888888************************************************************/
		top: 50%;	/******************************************888888888888888888888************************************************************/
		}
	
	.sidebar-1{
		width: 100%;/******************************************888888888888888888888************************************************************/
		float: none;/******************************************888888888888888888888************************************************************/
	}
	
	.inner-sidebar-1 {
		background-repeat: no-repeat;/******************************************888888888888888888888************************************************************/
		background-size: cover;/******************************************888888888888888888888************************************************************/
		 opacity: 0.7;/******************************************888888888888888888888************************************************************/	
	}
	
	.www {
		opacity: 0.7;
		font-size: 50px;/******************************************888888888888888888888************************************************************/
		margin-top: 42px;/******************************************888888888888888888888************************************************************/
		padding-left: 100px;/******************************************888888888888888888888************************************************************/
	}
	
	.sidebar-2 {
		width: 100%;/******************************************888888888888888888888************************************************************/
	}
	
	.inner-sidebar-2 {
		background-repeat: no-repeat;/******************************************888888888888888888888************************************************************/
		background-size: cover;/******************************************888888888888888888888************************************************************/
		 opacity: 0.7;/******************************************888888888888888888888************************************************************/	
	}
	
	.www_2 {
		opacity: 0.7;
		font-size: 50px;/******************************************888888888888888888888************************************************************/
		margin-top: 42px;/******************************************888888888888888888888************************************************************/
		padding-left: 100px;/******************************************888888888888888888888************************************************************/
	}
	

}

